

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &__logo {
        @include mobile {
            width: 240px;
        }
    }
    &__content {
        display: block;
        position: relative;
        padding: 130px 100px;

        @include desktop {
            padding: 100px 100px;
        }
        @include tablet {
            padding: 80px 50px;
        }
        @include mobile {
            padding: 75px 25px;
        }
    }
    &__margin {
        display: block;
        position: relative;
        margin: 130px 100px;

        @include desktop {
            margin: 100px 100px;
        }
        @include tablet {
            margin: 80px 50px;
        }
        @include mobile {
            margin: 75px 25px;
        }
    }

    &__caution {
        color: red;
        font-weight: 700;
    }
    &__overlay {
        opacity: 0.7;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        @include transition;
    }

    &.event {
        background-color: #000;
        background-size: cover;
        .section__content {
            color: #fff;
            width: 100%;
            &:visited {
                color: #fff;
            }
        }
    }

    &.finished {
        .section__content {
            opacity: .6;
        }
        .section__overlay {
            background-color: #3e3e3e;
        }
    }

    &.ongoing:hover {
        .section__overlay {
            opacity: 0.45;
        }
    }

    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }

}