

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &__logo {
        @include mobile {
            width: 240px;
        }
    }
    &__content {
        display: block;
        position: relative;
        padding: 130px 100px;

        @include desktop {
            padding: 100px 100px;
        }
        @include tablet {
            padding: 80px 50px;
        }
        @include mobile {
            padding: 75px 25px;
        }
    }
    &__margin {
        display: block;
        position: relative;
        margin: 130px 100px;

        @include desktop {
            margin: 100px 100px;
        }
        @include tablet {
            margin: 80px 50px;
        }
        @include mobile {
            margin: 75px 25px;
        }
    }

    &__caution {
        color: red;
        font-weight: 700;
    }
    &__overlay {
        opacity: 0.7;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        @include transition;
    }

    &.event {
        background-color: #000;
        background-size: cover;
        .section__content {
            color: #fff;
            width: 100%;
            &:visited {
                color: #fff;
            }
        }
    }

    &.finished {
        .section__content {
            opacity: .6;
        }
        .section__overlay {
            background-color: #3e3e3e;
        }
    }

    &.ongoing:hover {
        .section__overlay {
            opacity: 0.45;
        }
    }

    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }

}

.video-container {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: rgba(35,45,57,0.7);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.orange-text {
    position: relative;
    z-index: 100;
    display: inline-block;
    font-weight: 900;
    color: #fff;
    height: 40px;
    line-height: 43px;
    &:before {
      content: "";
      background-color: $orange;
      transform: skew(-10deg);
      width: 130%;
      left: -15%;
      display: block;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
}

.btn-red {
    background-color: $red;
    color: #fff !important;
    font-size: 1.2em;
    &:hover {
        background-color: darkred;
    }
}