.btn-share {
    position: fixed;
    height: 1rem;
    width: 100%;
    top: 0;
    z-index: 999;
    .float {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        background: #fff;
        padding: .5rem 1rem;
        border-radius: 100px;
        line-height: 1.0;
        z-index: 999;
        cursor: pointer;
        @include mobile {
            right: .5rem;
            top: .5rem;
        }
    }
}

.float-list {
	position: absolute;
    right: 2.5rem;
    top: 5rem;
    @include mobile {
        right: 1.5rem;
        top: 4rem;
    }

    .icon-share {
        opacity: 0;
        z-index: 999;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: #{($i - 1) / 25}s;
            }
        }
    }
}

.float-list:hover, 
.float-list:active,
.float-list:focus {
	visibility: visible !important;
	opacity: 1 !important;
}


.float + .float-list {
  visibility: hidden;
}

#share:checked ~ .float-list {
  visibility: visible;
}
#share:checked ~ .float-list > .icon-share {
  animation-name: scale-in; 
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale-in {
    from {
        transform: scale(0);opacity: 0;
        opacity: 0;
    }
    to {
        transform: scale(1);opacity: 1;
        opacity: 1;
    }
}

.icon-share {
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 1rem;
    cursor: pointer;
    background: #fff;
    border-radius: 100%;
    z-index: 990;
}