$brand-color: #9013FE !default;
$brand-color-light: #C27DFF !default;
$pink-purple: #F0C5FF !default;
$blue-purple: #D0CAFF !default;
$text-color: #333 !default;
$yellow: #FFFAB5 !default;
$orange: #F5A623 !default;


// Utils
@import "utils/fonts";
@import "utils/mixins";
@import "utils/reset";
@import "utils/global";

// Sections
@import "components/home";
@import "components/event1";
// @import "components/sections";
// @import "components/contact";

// // Custom
// @import "custom";